body{
  margin: 0;
  padding: 0;
  background-color: #232946;
}
.header{
  margin-top: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left{
  font-family: "VT323";
  display: flex;
  flex-direction: row;
  color:white;
  font-size: 70px ;
  margin-left: 50px;
}
.right{
  display: flex;
  margin-right: 4%;
  align-items: center;
}
.header-center{
  font-family: "VT323";
  display: flex;
  position: relative;
  right: 10vw;
}
.header-center img{
  width: 50px;
  height: 50px;
  display: block;
}
.test{
  font-size: 65px ;
  margin-left: 35%;
}
.header-right{
  width: 90px;
  height: 70px;
  margin-right: 2%;
  margin-left: 5%;
}
.header-right img{
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5%;
}
.test{
  background-color: #B8C1EC;
  font-family: "VT323";
  font-weight: 10px;
  margin-left: 20%;
  width:160px;
  height: 50px;
  font-size:30px ;
  border-radius: 7px;
}
.test:hover{
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}
.typing-area{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0% 7%;
  margin-top: 30px;
  background-color: rgb(250, 247, 244);
  border-radius: 40px;
  border: none;
  width: 55vw;
  height: 29vh;
  box-shadow: 0px 15px 2px 0px #B8C1ECC3;
  overflow:hidden;
}
.fn{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

#timer{
  font-family:"JetBrains Mono" ;
  width: 13vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  position: absolute;
  bottom: 55%;
  left: 2%;
  font-size: 30px;
  color:#232946;
  background: #EEBBC3;
  border-radius: 7px;
  box-shadow: .32vi .32vi .32vi rgba(0, 0, 0, 0.392);
}

#WPM{
  margin-top: 5px;
  display: flex;
  width: 13vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-family:"JetBrains Mono" ;
  position: absolute;
  bottom:18%;
  left: 2%;
  padding: 7px 20px;
  font-size: 30px;
  color:#232946;
  background: #EEBBC3;
  border-radius: 7px;
  box-shadow: .32vi .32vi .32vi rgba(0, 0, 0, 0.392);
}
#CPM{
  font-family:"JetBrains Mono" ;
  padding: 7px 20px;
  width: 13vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 18%;
  right: 2%;
  font-size: 30px;
  color:#232946;
  background: #EEBBC3;
  border-radius: 7px;
  box-shadow: -.32vi .32vi .32vi rgba(0, 0, 0, 0.392);
}
#accuracy{
  width: 13vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:"JetBrains Mono" ;
  padding: 7px 20px;
  position: absolute;
  bottom:55%;
  right: 2%;
  font-size: 30px;
  color:#232946;
  background: #EEBBC3;
  border-radius: 7px;
  box-shadow: -.32vi .32vi .32vi rgba(0, 0, 0, 0.392);
}
.restart-button{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.restart{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #B8C1EC;
  border: none;
}
.restart:hover{
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.save-scores{
  width: 75px;
  height: 45px;
  border-radius: 10%;
  background: #B8C1EC;
  font-size: 35px;
  border:none;
  font-family: "VT323";
}
.save-scores:hover{
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.middle-part{
  margin-top: 25vh;
  display:flex;
  /* align-items: center; */
  justify-content: center;
  gap: 5vw;
}

.runner{
  height: 50px;
}
.progress-bar{
  width: 60vw;
  height: 15px;
  background: linear-gradient( to right, white, #b8c1ec, #7283d4);
  border-radius: 10px;
  position: relative;
}

.man{
  position: relative;
  right:0px;
  top: -35px;
  width: 70px;
  height: 70px;
}
@keyframes moveRight{
  0%{left:0%;}
  100%{left:95%;}
}
.average{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading{
  font-family:"JetBrains Mono" ;
  color:#aeb6df;
  font-size: 20px;
}
.value{
  font-family:"JetBrains Mono" ;
  color: whitesmoke;
  font-size: 30px;
}

.para{
  width:100%;
  height:100%;
  padding-top:5px;
  margin:0px;
  word-spacing:0.3rem;
  text-align:center;
}
.word{
  display:inline-block;
  font-family: "Fira Code", monospace;
  font-size:30px;
  color:rgb(163, 167, 167);
}

.correct{
  color:#232946;
}
.incorrect{
  color:rgba(222, 68, 68, 0.925);
  font-weight: 500;
}

@media (max-width: 900px) {
  .header-center img {
    display: none !important;
  }

  .header-center {
    right: 5vw;

  }
}


.letter {
  position: relative;
}

.cursor {
  position: absolute;
  top: 0; 
  left: 0;
  width: 2px;
  height: 100%;
  background-color: rgb(252, 36, 36);
  animation: blink 1s step-start infinite;
}

.moveCursorSpc{
  transform:translateX(15px);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.para.fade-out {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1s cubic-bezier(0.41,-0.23, 0, 1.37);
}

#timer.fade-out {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1s cubic-bezier(0.41,-0.23, 0, 1.37);
}

#accuracy.centered{
  transform: translateX(0%);
  left: 43%;
  transition: all 2s ease-in-out;
}

#WPM.centered{
  transform: translateX(-50%);
  left: 40%;
  transition: all 2s ease-in-out;
}

#CPM.centered{
  transform: translateX(-50%);
  left: 60%;
  transition: all 2s ease-in-out;
}

#modeForm {
  background: white;
  color: black;
  padding: 10px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);

}

.selectModeBtn{
  width: 50px;
  height: 25px;
  border-radius: 5px;
  background: #B8C1EC;
  font-size: 20px;
  border:none;
  font-family: "VT323";
  cursor: pointer;
  position: relative;
  top: 10px;
}

.modes{
  width: 75px;
  height: 43px;
  border-radius: 5px;
  background: #B8C1EC;
  font-size: 35px;
  border:none;
  font-family: "VT323";
}
.modes:hover{
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}


.hidden {
  display: none;
}

.visible {
  display: block;
}

.moveCursorSpc{
  transform:translateX(15px);
}
.form_row{
  position:relative;
}
.normal_description,
.sprint_description,
.suddenDeath_description {
  width:10vw;
  background-color:#B8C1EC;
  position: absolute;
  right:16vw;
  top:-1vh;
  display: none;
  /* color:#fdc500; */
}

.optDiv:hover .normal_description,
.optDiv:hover .sprint_description,
.optDiv:hover .suddenDeath_description {
  display: block;
}
